.grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: 1.5rem;
    grid-row-gap: 1.5rem;
}

@media screen and (min-width: 768px) {
    .grid {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width: 992px) {
    .grid {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

.grid a img {
    transition: all .2s ease-in;
    filter: grayscale(100%);
}

.grid a:hover img {
    filter: grayscale(0);
}